<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ldsbc.reservearoom" >

    <application
        android:name=".dummy.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bcgreenandgold" >
        <activity
            android:name=".RoomListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomDetailActivity"
            android:label="@string/title_room_detail"
            android:parentActivityName=".RoomListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RoomListActivity" />
        </activity>
        <activity
            android:name=".RoomVerifyActivity"
            android:label="@string/title_activity_room_verify"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RoomListActivity" />
        </activity>
    </application>

</manifest>
